.static-content {
    /* @apply bg-gray-200; */
}

.static-content .body {
    @apply max-w-3xl px-4 mx-auto;
}

.static-content .text,
.static-content .image,
.static-content .video {
    @apply mx-auto;
}

.static-content .social-links {
    @apply flex items-center justify-center my-4;
}

.static-content .social-links > iframe:first-child {
    @apply mr-2;
}

.static-content .text {
    @apply px-4;
}

.static-content li {
    @apply leading-normal;
}

@media (min-width: 840px) {
    .static-content .text {
        @apply px-0;
    }
}

.static-content .iframe {
    max-width: 100%;
    @apply py-8 text-center;
}

.static-content .iframe .twitter-tweet {
    @apply mx-auto;
}

.static-content p {
    @apply mb-2 leading-normal;
}

.static-content ol {
    @apply mb-2 ml-6 list-decimal;
}

.static-content ul {
    @apply mb-2 ml-6 list-disc;
}

.static-content ul ul {
    list-style-type: circle;
}

.static-content h1 {
    @apply text-2xl font-medium;
}

.static-content h2 {
    @apply text-xl font-medium;
}

.static-content h3,
.static-content h2 {
    @apply mt-4 mb-2;
}

.static-content h3 {
    @apply text-lg;
}
